.login {
  background-color: #06899B; }
  .login h1 a {
    display: none; }
  .login a {
    color: #06899B; }
    .login a:hover {
      color: #006779; }
  .login input[type="text"]:focus, .login input[type="search"]:focus, .login input[type="radio"]:focus, .login input[type="tel"]:focus, .login input[type="time"]:focus, .login input[type="url"]:focus, .login input[type="week"]:focus, .login input[type="password"]:focus, .login input[type="checkbox"]:focus, .login input[type="color"]:focus, .login input[type="date"]:focus, .login input[type="datetime"]:focus, .login input[type="datetime-local"]:focus, .login input[type="email"]:focus, .login input[type="month"]:focus, .login input[type="number"]:focus, .login select:focus, .login textarea:focus {
    border-color: #06899B;
    box-shadow: 0 0 2px rgba(6, 137, 155, 0.4); }
  .login form {
    background: #1ac9e1; }
  .login #login_error, .login .message {
    background: #1ac9e1;
    border-left: 4px solid #69e9fb; }
  .login #backtoblog a, .login #nav a {
    color: #1ac9e1; }
    .login #backtoblog a:hover, .login #nav a:hover {
      color: #00a7bf; }

.wp-core-ui .button-primary {
  background: #06899B;
  border-color: #06899B;
  box-shadow: 0 1px 0 #06899B;
  text-shadow: none; }
  .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:active {
    background: #1ac9e1;
    color: #06899B;
    border-color: #06899B;
    box-shadow: 0 1px 0 #06899B; }

.wp-admin #wpadminbar > #wp-toolbar > #wp-admin-bar-root-default #wp-admin-bar-wp-logo .ab-icon {
  background-image: url("assets/blumilk-b.png") !important;
  width: 30px;
  height: 30px;
  margin-right: 0;
  padding: 0; }
  .wp-admin #wpadminbar > #wp-toolbar > #wp-admin-bar-root-default #wp-admin-bar-wp-logo .ab-icon:before {
    content: ''; }

#adminmenu {
  margin: 0; }

.item-type {
  color: #ffffff; }

a {
  color: #28abbd; }
  a:active, a:focus, a:hover {
    color: #06899B; }

input[type=checkbox]:checked:before {
  color: #1ac9e1; }
input[type=radio]:checked:before {
  background: #1ac9e1; }
input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus {
  border-color: #06899B;
  box-shadow: 0 0 1px #06899B; }

select:focus,
textarea:focus {
  border-color: #06899B;
  box-shadow: 0 0 1px #06899B; }

.wp-core-ui .button-primary {
  background-color: #006779 !important;
  border-color: #006779 !important;
  color: #ffffff;
  box-shadow: 0 0 0 #006779 !important;
  display: inline-block; }
  .wp-core-ui .button-primary:active, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
    background-color: #06899B !important;
    color: #ffffff !important;
    border-color: #06899B !important;
    box-shadow: 0 0 0 #06899B !important; }
.wp-core-ui .button-secondary {
  background-color: #28abbd;
  border-color: #28abbd;
  color: #ffffff;
  box-shadow: 0 0 0 #28abbd;
  display: inline-block; }
  .wp-core-ui .button-secondary:active, .wp-core-ui .button-secondary:focus, .wp-core-ui .button-secondary:hover {
    background-color: #06899B;
    border-color: #06899B;
    color: #ffffff;
    box-shadow: 0 0 0 #06899B; }

#wpadminbar {
  background: #0c5684;
  border-bottom: 2px solid #06899B; }

#adminmenu div.wp-menu-image:before {
  color: #ece6f6; }
#adminmenu a {
  color: #ffffff; }
  #adminmenu a:hover {
    color: #dddddd; }
#adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top {
  color: #ffffff; }
  #adminmenu li.menu-top:hover div.wp-menu-image:before, #adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
    color: #ffffff; }
#adminmenu li > a.menu-top:focus {
  color: #ffffff; }

#wpcontent,
#wpfooter {
  padding-left: 55px; }

#adminmenu {
  background: #0c5684;
  width: 200px; }
  #adminmenu .wp-submenu {
    background: #0c5684;
    width: 200px; }

#adminmenuback,
#adminmenuwrap {
  background: #0c5684;
  width: 200px; }

#adminmenu .wp-submenu {
  left: 200px; }
  #adminmenu .wp-submenu a {
    padding: 5px; }
#adminmenu .wp-submenu-head, #adminmenu a.menu-top {
  padding: 5px; }
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
  background: #06899B; }
#adminmenu .wp-menu-arrow {
  background: #06899B; }
  #adminmenu .wp-menu-arrow div {
    background: #06899B; }
#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
  background: #06899B; }
#adminmenu div.wp-menu-image:before {
  color: #ffffff;
  padding: 10px 0 0;
  display: inline-block; }

.folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
  background: #06899B; }

#adminmenu .wp-has-current-submenu .wp-submenu {
  background-color: #004573; }
  #adminmenu .wp-has-current-submenu .wp-submenu.sub-open {
    background-color: #004573; }
#adminmenu .wp-has-current-submenu.opensub .wp-submenu {
  background-color: #004573; }
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background-color: #004573; }

.no-js li.wp-has-current-submenu:hover .wp-submenu {
  background-color: #004573; }

#adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  background-color: #06899B;
  color: #ffffff; }
#adminmenu li.menu-top {
  border-bottom: 1px solid #003462;
  border-top: 1px solid #004573;
  display: block; }

#collapse-menu {
  border-top: 1px solid #004573; }

#adminmenu div.separator,
#adminmenu li.wp-menu-separator {
  margin: 0;
  padding: 0;
  height: 0; }

#wpadminbar .quicklinks ul li a:hover {
  background: #0c5684; }

.postbox .hndle,
.stuffbox .hndle {
  background: #004573;
  border-bottom: 2px solid #06899B;
  color: #ddd; }

.menu-item-bar .menu-item-handle {
  background: #004573;
  color: #ddd;
  border-bottom: 0; }

.widget-title h4 {
  background: #004573;
  color: #ddd;
  border-bottom: 0; }
  .widget-title h4:hover {
    color: #ffffff; }

.widget-title-action {
  background: #28abbd;
  height: 46px; }

.accordion-section-title:after,
.handlediv, .item-edit,
.sidebar-name-arrow,
.widget-action {
  color: #ddd; }

.widget-top a.widget-action:focus::after {
  box-shadow: 0 0 #28abbd;
  border-color: #28abbd;
  color: #ffffff; }

.wrap .nav-tab {
  background: #0c5684;
  color: #ddd;
  padding: 8px 15px;
  font-weight: 400; }
.wrap .nav-tab-active,
.wrap .nav-tab:hover {
  background: #004573;
  color: #ffffff;
  font-weight: 700; }

#wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar .ab-top-menu > li.menupop.hover > .ab-item, #wpadminbar .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li > .ab-item:focus {
  color: #ffffff;
  background: #0c5684; }

#wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item {
  color: #ffffff;
  background: #0c5684; }

#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
  color: #ffffff;
  background: #0c5684; }
#wpadminbar .menupop .ab-sub-wrapper {
  background: #0c5684;
  border-bottom: 2px solid #06899B;
  border-left: 2px solid #06899B;
  border-right: 2px solid #06899B; }
#wpadminbar .ab-submenu .ab-item {
  color: #28abbd; }
#wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop.hover ul li a {
  color: #28abbd; }

#wpadminbar-nojs .quicklinks .menupop:hover ul li a {
  color: #28abbd; }

#wpadminbar .menupop .menupop > .ab-item:hover:before {
  color: #06899B; }
#wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:hover {
  color: #06899B; }
  #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover strong {
    color: #06899B; }
#wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover {
  color: #06899B; }
#wpadminbar .quicklinks li a:hover .blavatar {
  color: #06899B; }
#wpadminbar li .ab-item:focus:before,
#wpadminbar li a:focus .ab-icon:before {
  color: #06899B; }
#wpadminbar li.hover .ab-icon:before {
  color: #06899B; }
#wpadminbar li.hover .ab-item:after, #wpadminbar li.hover .ab-item:before {
  color: #06899B; }
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li:hover .ab-icon:before {
  color: #06899B; }
#wpadminbar li:hover .ab-item:after, #wpadminbar li:hover .ab-item:before {
  color: #06899B; }
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
  color: #06899B; }
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a {
  color: #06899B; }
#wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:hover {
  color: #06899B; }
  #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover strong {
    color: #06899B; }
#wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover {
  color: #06899B; }
#wpadminbar li #adminbarsearch.adminbar-focused::before,
#wpadminbar li .ab-item:focus::before,
#wpadminbar li a:focus .ab-icon::before {
  color: #06899B; }
#wpadminbar li.hover .ab-icon::before,
#wpadminbar li.hover .ab-item::before {
  color: #06899B; }
#wpadminbar li:hover #adminbarsearch::before,
#wpadminbar li:hover .ab-icon::before,
#wpadminbar li:hover .ab-item::before {
  color: #06899B; }
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
  color: #06899B; }
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label {
  color: #06899B; }
#wpadminbar > #wp-toolbar li.hover span.ab-label,
#wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
  color: #06899B; }
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item, #wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus {
  color: #06899B; }

#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  background-color: #006779; }

#sidemenu li a span.update-plugins {
  background-color: #006779; }

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary {
  background: #0c5684; }
  #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
    background: #0c5684; }

.wrap .add-new-h2:hover {
  background-color: #06899B; }

.filter-count .count,
.title-count {
  background: #006779; }

#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover {
  color: #ffffff; }
#adminmenu a:hover,
#adminmenu li.menu-top > a:focus {
  color: #ffffff; }

.wrap .add-new-h2,
.wrap .page-title-action {
  border-color: #06899B; }
.wrap .add-new-h2:hover,
.wrap .page-title-action:hover {
  background: #06899B;
  border-color: #06899B; }

#collapse-menu:hover {
  color: #06899B; }
  #collapse-menu:hover #collapse-button div::after {
    color: #06899B; }
