$primary: #999999;
$secondary: #ffffff;
$tertiary: #666666;

$bodyText: $primary;
$bgColour: #ffffff;

$northernBlue: #282460;
$success: #8cc63f;
$warning: #fbb03b;
$stop: #ed4a56;


$northernBlueLight: #A7A3DF;
$successLight: #D9FF8C;
$warningLight: #FFFFBA;
$stopLight: #FFC9D5;