.comp {
	.slider {
		li {
			background-position: center center;
			background-size: cover;
			height: 600px;
			
			@media(max-width: $tp) {
				height: 400px;
			}
			
			@media(max-width: $mp) {
				min-height: 300px;
			}
		}
		
		.inner {
			height: 600px;
			padding: $spacer * 4;
			
			&.primary {
				background: rgba($primary, 0.8);
				color: $secondary;
			}
			
			&.secondary {
				background: rgba($secondary, 0.8);
				color: $primary;
			}
			
			&.tertiary {
				background: rgba($tertiary, 0.8);
				color: $secondary;
			}
			
			@media(max-width: $tp) {
				height: 400px;
				padding: $spacer * 2;
			}
			
			@media(max-width: $mp) {
				min-height: 300px;
				padding: $spacer;
			}
		}
		
		.owl-prev, .owl-next {
			background-color: rgba($primary, 0.75);
		}
	}
}