.comp-00100 {
	color: #ffffff;
	text-align: center;
	padding: $spacer * 2;
	
	&.green {
		background-color: $success;
	}
	
	&.orange {
		background-color: $warning;
	}
	
	&.red {
		background-color: $stop;
	}
}