.comp-00202 {
	padding: $spacer * 2 0 0;
	
	.wrapper {
		@media(max-width: $tl) {
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}
	
	.img {
		margin-bottom: $spacer * 2;
		position: relative;
		
		&:hover {
			.overlay {
				display: block;
			}
		}
	}
	
	.overlay {
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: $spacer $spacer * 2;
		
		.title {
			font-weight: 700;
			text-transform: uppercase;
		}
		
		&.primary {
			background-color: rgba($primary, 0.8);
			color: $secondary;
		}
		
		&.secondary {
			background-color: rgba($secondary, 0.8);
			color: $primary;
		}
		
		&.tertiary {
			background-color: rgba($tertiary, 0.8);
			color: $primary;
		}
		
		@media(min-width: $tl + 1) {
			display: none;
		}
	}
}