.comp-40101 {
	padding: $spacer * 2;
	
	&.green {
		background-color: $success;
	}
	
	&.orange {
		background-color: $warning;
	}
	
	&.red {
		background-color: $stop;
	}
	
	.inner {
		padding: $spacer;
		border: 1px solid $primary;
		border-radius: 5px;
		
		img, .cta {
			border-radius: 3px;
		}
	}
}