.comp-70201 {
	#routemap {
		border: 1px solid black;
		padding-left: 0px;
	}
	
	/* The Modal (background) */
	.modal {
	    display: none; /* Hidden by default */
	    position: fixed; /* Stay in place */
	    z-index: 1; /* Sit on top */
	    left: 0;
	    top: 0;
	    width: 100%; /* Full width */
	    height: 100%; /* Full height */
	    overflow: auto; /* Enable scroll if needed */
	    background-color: rgb(0,0,0); /* Fallback color */
	    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}
	
	/* Modal Content/Box */
	.modal-content {
	    background-color: #fefefe;
	    margin: 15% auto; /* 15% from the top and centered */
	    padding: 20px;
	    border: 1px solid #888;
	    width: 80%; /* Could be more or less, depending on screen size */
	    
	    .modal-button {
		    float:right;
	    }
	}
	
	.routelist {
		background-color: #999999;
		color: #ffffff;
	}
	
	
	
	
	
	
	
	#routemap2 {
		.station {
			background: #ffffff;
			position:relative;
			margin-bottom: 0px;
			&:before {
				position:absolute;
			    top:0;
			    left:0;
			    width:70px;
			    height:100%;
			    content:"";
			    background-color:#ffffff;
			}
			
			.outer-circle {
				background: $northernBlue;
				border-radius: 50%;
				height: 100px;
				width: 100px;
				position: relative;
				
				
				.inner-circle {
					position: absolute;
					background: #ffffff;
					border-radius: 50%;
					height: 60px;
					width: 60px;
					top: 50%;
					left: 50%;
					margin: -30px 0px 0px -30px;
					
					
					.status-circle {
						position: absolute;
						background: #ffffff;
						border-radius: 50%;
						height: 48px;
						width: 48px;
						top: 50%;
						left: 50%;
						margin: -24px 0px 0px -24px;
					}
					
					.status-circle.blue {
						background: $northernBlue;
					}
					
					.status-circle.red {
						background: $stop;
					}
					
					.status-circle.green {
						background: $success;
					}
					
					.status-circle.yellow {
						background: $warning;
					}
					
				}

			}
			
		}
		
		.station.blue {
			background: $northernBlueLight;
		}
		
		.station.red {
			background: $stopLight;
		}
		
		.station.green {
			background: $successLight;
		}
		
		.station.yellow {
			background: $warningLight;
		}
		
		
		.route {
			position:relative;
			background: $northernBlueLight;
			height: 100px;
			margin-top: 0px;
			margin-bottom: 0px;
			
			.left-line {
				height: 130px;
				border-left: 6px solid $northernBlue;
				margin-left: 40px;
				margin-top: -15px;
				margin-bottom: -5px;
			}
			
			.right-line {
				position: absolute;
				height: 100px;
				border-left: 6px solid $northernBlue;
				margin-left: 10px;
			}
		}
	}
}