.comp {
	&.primary {
		background: $primary;
	}
	
	&.secondary {
		background: $secondary;
	}
	
	&.tertiary {
		background: $tertiary;
	}
	
	&.text-primary {
		color: $primary;
		
		hr {
			background: $primary;
		}
	}
	
	&.text-secondary {
		color: $secondary;
		
		hr {
			background: $secondary;
		}
	}
	
	&.text-tertiary {
		color: $tertiary;
		
		hr {
			background: $tertiary;
		}
	}
	
	&.align-left {
		text-align: left;
		
		hr {
			margin-left: 0;
			margin-right: auto;
		}
	}
	
	.align-left {
		text-align: left;
	}
	
	&.align-central {
		text-align: center;
	}
	
	.align-central {
		text-align: center;
	}
	
	&.align-right {
		text-align: right;
		
		hr {
			margin-left: auto;
			margin-right: 0;
		}
	}
	
	.align-right {
		text-align: right;
	}
	
	.address {
		margin-bottom: $spacer;
		
		p {
			margin-bottom: 0;
			
			&:first-of-type {
				font-size: 24px;
				font-weight: bold;
			}
		}
	}
	
	.contact {
		margin-bottom: $spacer;
		
		a {
			color: #ffffff;
			text-decoration: none;
		}
		
		p {
			margin-bottom: 0;
		}
		
		strong {
			font-size: 24px;
			font-weight: bold;
		}
	}
}