#menu-desktop {
	background: $primary;
	z-index: 999;
	
	li {
		float: left;
		
		a {
			background: $primary;
			color: $secondary;
			text-decoration: none;
			display: block;
			padding: $gutter / 2;
			
			&:hover {
				color: $secondary - #111111;
			}
		}
	}
	
	.current-menu-item, .current-menu-parent {
		a {
			border-bottom: 5px solid $secondary;
		}
	}
	
	.sub-menu {
		display: none;
	}
	
	@media(max-width: $tl) {
		display: none;
	}
}

#menu-mobile {
	display: none;
	
	li {
		text-align: center;
		display: block;
		
		a {
			color: $secondary;
			font-size: 18px;
			text-decoration: none;
			padding: 10px 0;
			border-top: 1px solid #ffffff;
			display: block;
			
			&:hover {
				color: $secondary - #111111;
			}
		}
		
		.sub-menu {
			margin-bottom: 5px;
			
			a {
				font-size: 14px;
				padding: 5px 0;
				border-top: none;
			}
		}
	}
	
	.menu {
		margin-bottom: 0;
		width: 100%;
	}
	
	#search {
		display: none;
	}
}

#menu-mobile:after {
	clear: both;
	content: " ";
	display: table;
}

#search {
	background: #ffffff;
	color: $primary;
	text-align: center;
	display: table;
	position: relative;
	cursor: pointer;
	
	.fa {
		font-size: 48px;
		display: table-cell;
		vertical-align: middle;
		height: 84px;
		float: none;
	}
}

#menu-trigger {
	background: $primary;
	text-align: right;
	display: none;
	
	@media(max-width: $tl) {
		display: block;
	}
}

.menu-button {
	display: inline-block;
	padding: 12px 10px;
	margin: $spacer / 2;
	background-color: transparent;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
	border-radius: 48px;
}

.burger-icon {
	position: relative;
	margin-top: 8px;
	margin-bottom: 8px;
}

.burger-icon, .burger-icon:before, .burger-icon:after {
	display: block;
	width: 25px;
	height: 1px;
	background-color: $secondary;
	-webkit-transition-property: background-color, -webkit-transform;
	-moz-transition-property: background-color, -moz-transform;
	-o-transition-property: background-color, -o-transform;
	transition-property: background-color, transform;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}

.burger-icon:before, .burger-icon:after {
	position: absolute;
	content: "";
}

.burger-icon:before {
	top: -8px;
}

.burger-icon:after {
	top: 8px;
}

.menu-button.open {
	border-radius: 48px;
}

.burger-icon.open {
	-webkit-transform: translateY(0) rotate(-360deg);
	-moz-transform: translateY(0) rotate(-360deg);
	-ms-transform: translateY(0) rotate(-360deg);
	-o-transform: translateY(0) rotate(-360deg);
	transform: translateY(0) rotate(-360deg);
	background-color: transparent;
}

.burger-icon.open:before {
	-webkit-transform: translateY(8px) rotate(45deg);
	-moz-transform: translateY(8px) rotate(45deg);
	-ms-transform: translateY(8px) rotate(45deg);
	-o-transform: translateY(8px) rotate(45deg);
	transform: translateY(8px) rotate(45deg);
	background-color: $secondary;
}

.burger-icon.open:after {
	-webkit-transform: translateY(-8px) rotate(-45deg);
	-moz-transform: translateY(-8px) rotate(-45deg);
	-ms-transform: translateY(-8px) rotate(-45deg);
	-o-transform: translateY(-8px) rotate(-45deg);
	transform: translateY(-8px) rotate(-45deg);
	background-color: $secondary;
}