body {
	background: $bgColour;
	color: $bodyText;
	font-family: $secondaryFont;
}

img {
	width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: $spacer;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headline;
	font-weight: bold;
	text-transform: uppercase;
}

h1 {
	@include responsive-font(7vw, 36px, 72px);
	@include responsive-lineheight(8vw, 42px, 84px);
}

h2 {
	@include responsive-font(6vw, 30px, 60px);
	@include responsive-lineheight(7vw, 36px, 72px);
}

h3 {
	@include responsive-font(5vw, 24px, 48px);
	@include responsive-lineheight(6vw, 30px, 60px);
}

h4 {
	@include responsive-font(4vw, 18px, 42px);
	@include responsive-lineheight(5vw, 24px, 48px);
}

h5 {
	@include responsive-font(3vw, 16px, 36px);
	@include responsive-lineheight(4vw, 21px, 42px);
}

h6 {
	@include responsive-font(2vw, 14px, 24px);
	@include responsive-lineheight(3vw, 18px, 30px);
}

p, strong {
	@include responsive-font(2vw, 14px, 16px);
	@include responsive-lineheight(3vw, 18px, 24px);
}

p {
	&:last-of-type {
		margin-bottom: 0;
	}
}

strong {
	font-weight: bold;
}

a {
	color: $primary;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}